/* Contenedor del formulario */
form{
  width: 95%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 5px;
  font-family: 'Inter', sans-serif;
  
  
}

.myinputs {
  display: flex;
  flex-wrap: wrap;          /* permite que los elementos bajen a la siguiente fila */
  gap: 20px;                 /* separación entre elementos */
  font-family: 'Inter', sans-serif;
}

/* Labels */
form label {
  font-size: 13px;
  color: #444;
  margin-bottom: 4px;
  font-weight: 500;
}

/* Inputs y selects */
form input{
  width: 100%;
  padding: 4px 6px;
  border: 1px solid #ccc;
  font-size: 13px;
  background: #fff;
  transition: border 0.2s ease;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: #007bff;
}


.input-container {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

/* react-select minimal */
.css-13cymwt-control {
  border-radius: 6px !important;
  border: 1px solid #ccc !important;
  min-height: 36px;
}
.css-13cymwt-control:hover {
  border-color: #3d0691 !important;
}

form input[type="submit"]:hover {
  background: #3d0691;
}

/* contenedor del select */
.select-input {
  width: 100%;   /* ajusta el ancho */
  font-size: 14px;
}

.form-group {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 10px;
}

.form-actions{
  max-width: 130px;
}

.custom-select__control {
  border-radius: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn{
  margin-top: 23px;
  margin-bottom: 0%;
}
